@{
    ViewData["Title"] = "Contacto";
}


    <div class="fondo-contacto">
        <div class="caja-flotante-transparente">
        <div class="libro-flotante-contacto">
                <img src="~/Imagenes/Mockup.png" alt="Tarjetas de contacto" class="imagen-flotante" />
                <div class="descripcion-habitacion">
                    <h2>Contacto</h2>
                    <p>Nuestra linea de atencion al cliente es al número
                        55555-55555</p>
                    <p>Será un gusto atenderlo</p>
                </div>
            </div>
        </div>
    </div>

